<div class="dashboard-wrapper">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>📊 Panel de Inventario</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="dashboard-options">
        <button
          mat-raised-button
          color="primary"
          (click)="irAConsultaInventario()"
        >
          Consultar Inventario
        </button>

        <button mat-raised-button color="accent" (click)="irAMovimiento()">
          Registrar Movimiento
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
